body {
  /* font-family: "Liu Jian Mao Cao", cursive; */
  font-family: "Open Sans Condensed", sans-serif;
  background: #e6e6e6;
  margin-left: 50px;
  margin-right: 50px;
  box-sizing: content-box;
  font-size: 22px;
}
@media only screen and (max-width: 480px) {
  body {
    font-size: 18px;
  }
}
@media only screen and (min-width: 320px) {
  .images img {
    width: 400px;
  }
}

/*-------------------------- NAV BAR ----------------------*/
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  /* overflow: hidden; */
  background-color: rgb(229, 213, 192);
}

nav li {
  letter-spacing: 0.25em;
}

li a {
  color: grey;
  display: block;
  text-align: center;
  padding: 20px 40px;
}

li a:hover {
  color: lightcoral;
  background-color: rgb(238, 211, 211);
}

/*-------------------------- H1.. -------------------------*/
header h1 {
  font-size: 5rem;
  font-family: "Liu Jian Mao Cao", cursive;
  text-shadow: 5px 5px 5px rgb(77, 73, 73);
  justify-content: center;
  text-align: center;
}

header h2 {
  font-size: 3rem;
  font-family: "Liu Jian Mao Cao", cursive;
  text-shadow: 5px 5px 5px rgb(77, 73, 73);
  justify-content: center;
  text-align: center;
}

h3 {
  font-family: "Liu Jian Mao Cao", cursive;
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}
a {
  color: deeppink;
  text-decoration: none;
}

/*-------------------------- CLASSES -----------------------*/
.headliners {
  font-family: "Liu Jian Mao Cao", cursive;
  text-align: center;
  padding-top: 30px;
}

.first-p {
  font-size: 1.7rem;
  padding-top: 30px;
  padding-bottom: 20px;
}

.me {
  text-align: center;
  max-width: 100%;
}
.me img {
  width: 280px;
  height: 250px;
}

/*-------------------- SECTIONS ABSCHNITTE ----------------*/
section {
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

article {
  text-align: center;
}
aside {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
aside p {
  padding: 20px;
}

hr {
  width: 87%;
  margin-top: 50px;
  margin-bottom: 50px;
}

/*--------------------------- BUTTONS ----------------------*/
button {
  color: grey;
  background-color: rgb(229, 213, 192);
}

button:hover {
  color: lightcoral;
  background-color: rgb(238, 211, 211);
  cursor: pointer;
}

.back {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  margin-bottom: 15px;
}

/*---------------------- IMG AUDIO VIDEO --------------------*/
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  background-color: rgb(238, 211, 211);
}

.images {
  margin: 20px;
}

img {
  /* width: 260px; */
  border: 2px solid GhostWhite;
  border-radius: 4px;
}

figcaption {
  position: relative;
  font-size: 1.3rem;
}

video {
  width: 93%;
  height: auto;
}

audio {
  width: 80%;
}

/*---------------------- FOOTER --------------------*/
footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(229, 213, 192);
  background-size: cover;
  bottom: 10px;
}

footer p {
  color: grey;
  font-size: 1.3rem;
  padding: 0px 10px;
}
footer a {
  color: lightcoral;
}
